[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "*"
numpy = "*"
opencv-python = "*"
parse = "*"
pyyaml = "*"
tensorboardx = "*"
torch = "*"
torchvision = "*"
tqdm = "*"

[dev-packages]
pycodestyle = "*"

[requires]
python_version = "3.9"
