[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "*"
matplotlib = "*"
numpy = "*"
opencv-python = "*"
parse = "*"
pyyaml = "*"
tensorboard = "*"
torch = "*"
torchvision = "*"
tqdm = "*"

[dev-packages]
ipykernel = "*"
ipympl = "*"
pycodestyle = "*"
torch-tb-profiler = "*"

[requires]
python_version = "3.9"
